.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  color: white;
}

.MenuNav {
  display: flex;
  justify-content: right; 
  list-style: none;
  gap: 24px;
}

.NavBar {
  position: relative;
  flex: 1;
  text-align: center;
}

.NavBar a {
  display: block;
  font-size: 16px;
  padding: 8px 8px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

.NavBar a:focus {
  text-decoration: underline;
}
